<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QdbcSuite" parallel="classes">
	<test name="QdbcTest" verbose="2" preserve-order="true">
		<packages>
			<package name="com.gitee.qdbp.jdbc.enums" />
			<package name="com.gitee.qdbp.jdbc.support" />
			<package name="com.gitee.qdbp.jdbc.sql" />
			<package name="com.gitee.qdbp.jdbc.test.biz" />
		</packages>
	</test>
</suite>
